@import "bootstrap";
@import "bootstrap-responsive";



/* footer */
.contact{
  
  a:link {color: #333333;text-decoration: none;}
  a:hover { color:#333333; text-decoration : underline;}

  float: right;
}


