<footer id="footer">
    <div class="foot-container">
      <hr/>
      <div class="footleft">
          <div class="google_Ads">
    
            <script type="text/javascript"><!--
              google_ad_client = "ca-pub-9646834340680693";
              /* rails_project_text */
              google_ad_slot = "8605309855";
              google_ad_width = 234;
              google_ad_height = 60;
              //-->
            </script>
            
            <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
          </div>

        </div>
        <div class="footright">
          <ul>
            <li>facebook</li>
            <li>google</li>
            <li>blog</li>
          </ul>
        </div>
        
        <div class="grid100 left clear">
          <div class="contact">
            <ul>
              <li>This is GGomaGundan's personal Project</li>
              <li> Copyleft <%= link_to "GGoMaGunDan", "http://www.ggogun.kr" %> </li>
            </ul>
          </div>

        </div>
    </div>
</footer>

